<% include ../includes/header %>
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit" style="margin-top:60px;background-color:white">
        <h2>Let's Get Started!</h2>
        <p>Just let us know where you're headed and how long you plan to stay. After that's complete your trip page will
        let you add some ideas and if you'd like, invite friends to add ideas and comments of their own.</p>
        <div class="pull-left">
            <form action="trips" method="POST">
                <input type="text" name="place" id="place" class="large-input" placeholder="Where are you going?" required />
                <br />
                <input id="date" type="text" name="date" class="large-input" placeholder="When are you leaving?" required />
                <br />
				<input type="number" name="days" class="large-input" placeholder="How many days are you staying?" required/>
                <br />
                <p><button type="submit" class="btn btn-success btn-large">Let's Go!</a></p>
            </form>
        </div>
        <div id="map" style="margin-top:-10px;width:200px;height:200px;background-color:white" class="pull-right">
        
        </div>
    <br style="clear:both"/>
    </div>


</div>
<script type="text/javascript">
	$("#date").datepicker();
    $("#place").geocomplete({map: "#map"});

</script>