<% include ../includes/header %>
<div>
	<div class="container">
		<div class="hero-unit" style="margin-top:60px;background-color:white">  
	        <h2 style="font-size: 26px;margin-bottom:15px;">About</h2>
			<p>The idea for EscapeScout came when Chuck realized he posts on Facebook to get feedback from friends whenever he's headed somewhere. Chuck got together with Jacob Williams and together they made the idea a reality. Their goal is to make a site where they can get a little help from their friends to plan their adventures.</p> <p>The idea behind the site is simple; post your trip and have you friends give feedback for what to do, see, eat, and even where to stay.</p>
			<p></p> 
		</div>
	</div>	
</div>	