<% include ../includes/header %>
<div>
	<div class="container">
		<div class="hero-unit" style="margin-top:60px;background-color:white">  
	        <h2 style="font-size: 26px;margin-bottom:15px;">About</h2>
			<p>EscapeScout has a basic premise; we want to make planning adventures more social and dead simple. All you have to do to get started is sign up, 
            create a trip, and then share it with friends. Our site provides a place for your friends ideas and comments. We make it easy for you to 
            share the trip, but we'll never post anywhere without your permission (we hate it when people do that to us).
            
            <p>The idea for EscapeScout came when Chuck realized he posts on Facebook to get feedback from friends 
            whenever he's headed somewhere. He got together with Jacob Williams and they decided to build a site 
            where they can get a little help from their friends to plan adventures.</p>
            <p>If you have ideas or suggestions please feel free to send them our way at info<AT>escapescout.com. Thank you for giving us a shot!</p>  
			
		</div>
	</div>	
</div>	