<% include ../includes/header %>
<div>
	<div class="container">
		<div class="hero-unit" style="margin-top:60px;background-color:white">  
	        <h2 style="font-size: 26px;margin-bottom:15px;">Contact</h2>
			<p>Really? You'd like to speak with us!? Send us an email at info AT escapescout.com and we'll get back to you. We're happy to hear your feedback!
		</div>
	</div>	
</div>	