<% include ../includes/header %>
		<div class="wide-box">
			<div class="container">
					<div class="signup-box">
					<h1>Escape Scout</h1>
				    <p>Plan your next adventure with your friends.</p>
					<br />
					<br />
					<br />
					<a href="/auth/facebook" class="btn btn-primary btn-large"><strong>Login with Facebook</strong></a>
					</div>	
				</div>
		</div>	

</body>
</html>
