<% include ../includes/header %>
		<div>
			<div class="container">
					<div class="signup-box">
					<h1>Escape Scout</h1>
				    <p>Plan your next adventure with your friends.</p>
					<br />
					<br />
					<center>
						<% if (locals.error != ""){ %>
						<div style="width:700px" class="alert alert-error">
						  		<button type="button" class="close" data-dismiss="alert">&times;</button>
						  		<%=error%>
						</div>
						<% } %>
						<div class="login-box">
							<form action="/auth/login" method="POST">
								<input type="email" name="username" placeholder="Email Address" class="login-input" required/>
								<input type="password" name="password" placeholder="Password" class="login-input" required/>
								<button type="submit" class="btn btn-info btn-large" style="padding: 6.8px 21px !important;
								margin: 5px;">Login</button>
							</form>
						</div>
						<p class="small-p">or</p>
					</center>
					<a href="/auth/facebook" class="btn btn-success btn-large login-button">Login with Facebook</a>
					</div>	
				</div>
		</div>	

</body>
</html>
