<% include ../includes/header %>
<div class="container">

  <div class="hero-unit" style="margin-top:60px;background-color:white">
    <h2>My Trips</h2>
    <p class="lead">Welcome to EscapeScout!</p> <p>Whether it's a dream vacation or just business travel, our goal is to
    help you tap your network of friends and family to get great ideas for your next adventure. You can use EscapeScout for everything 
    from planning a trip to Hawaii to brainstorming what ski runs to do at Whistler.</p>
    <br />
    <p>Get started by clicking "Plan a New Trip" and we'll walk you through the process.</p>
    <hr />
    <% if (false == true){ %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        Your Travel Agent recommends staying at the Holiday Inn while in Atlanta for $60 a night!
    </div>
    <% } %>
    <div class="trips">
        <% trips.forEach(function(trip) { %>
        <p class="lead"><a href="/trips/<%=trip._id%>/1"><%=trip.place%> on <%=trip.adjustedDate%></a></p>
        <% }); %>
    </div>
    <a class="btn btn-primary pull-right" href="/trips">Plan a New Trip</a>


    
  </div>
